body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3B3B98;
}

.maincontainer{
    min-width: 100vh;
    min-height: 100vh;
    width: auto;
    height: auto;
    display: grid;
    place-items: center;
    background-color: #3B3B98;
}

.inner{
    min-height: 63%;
    height: auto;
    width: 500px;
    background-color: #23235B;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
}

.heading{
    margin: 20px 20px;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: white;
}

.input_box{
    margin-top: 30px;

}

.box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: auto;
}

.tick{
    font-size: 1.2rem;
    font-family: monospace;
    color: white;

}

.check{
    width: 25px;
    height: 25px;
    border: 10px solid black;
}

.submit_box{
    display: flex;
    margin: auto 0px;
    justify-content: center;
}

.submit{

    width: 100%;
    margin: 15px 55px;
    min-height: 47px;
    height: auto;
    font-size: 22px;
    font-weight: 500;
    border: none;
    background-color: #3B3B98;
    padding: 10px 10px;
    color: white;
    font-family: monospace;
}




.pass_box{
    display: flex;
    align-items: center;
    overflow: inherit;
    font-size: 20px;
    background-color:  rgba(0, 0, 0, 0.4);
    width: 80%;
    min-height: 40px;
    height: auto;
    padding: 7px 20px;
    margin: auto auto;
    color: white;
}

#len_input{
    width: 70px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    font-family: monospace;
}

#pass_display{
    font-size: 26px;

}


@media only screen and (max-width: 535px) {

    .inner{
        width: 100%;
        height: inherit;
    }
  }
